<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Default.master.cs" Inherits="w2.BBS.Manager.Form.Common.Default" %>
<%@ Import Namespace="w2.BBS.Manager" %>
<!DOCTYPE html>
<html>
<head runat="server">
	<link rel="stylesheet" href="<%: ResolveUrl("~/css/style.css") %>" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>掲示板管理画面</title>
	<asp:ContentPlaceHolder ID="head" runat="server"></asp:ContentPlaceHolder>
</head>
<body>
	<form id="form1" runat="server">
		<div id="divMenu" runat="server">
			<p>
				<a href="<%: ResolveUrl(Constants.PAGE_USER_LIST) %>">ユーザー一覧</a>
				<a href="<%: ResolveUrl(Constants.PAGE_POST_LIST) %>">投稿一覧</a>
				<asp:LinkButton ID="lbLogout" runat="server" Text="ログアウト" OnClick="lbLogout_Click" />
			</p>
			<hr />
		</div>
		<asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server"></asp:ContentPlaceHolder>
	</form>
</body>
</html>
